body{
    background: #ccffff;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.canvas{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; 
    width: 500px;
    height: 500px;
    border: 1px solid black;
    box-shadow: 10px 10px 10px black;
}

.controls{
    display: flex;
    align-items: center;
    width: 500px;
    height: 60px;
    gap: 20px;
}

.sliderHolder{
    display: flex;
    align-items: center;
}

.controls .slider:hover{
    opacity: 1;
    cursor: pointer;
}

.clear{
    background: hotpink;
    width: 100px;
    height: 50px;
}

